
@{
    ViewData["Title"] = "Play";
}

<h1>Play</h1>

<h3>First Team</h3>
@Model.runs[0] Runs for 
@Model.wickets[0] Wickets in 
@Model.overs[0] Overs

<h3>Second Team</h3>
@Model.runs[1] Runs for
@Model.wickets[1] Wickets in
@Model.overs[1] Overs
